<!DOCTYPE html>
<html>
<head>
    <% include ../partials/template%>
</head>
<body>
<header>
    <% include ../partials/header%>
</header>







<footer>
    <!--<% include ../partials/footer%>-->
</footer>
</body>
</html>
